<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
     <img src="{{ site.url }}{{ site.baseurl }}/favicon.ico" width="40" height="40" style="margin-right:10px" class="d-inline-block align-mid" alt="">
      {{ site.title | escape }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          {% for page in site.nav_pages %}
           <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/{{ page.name | downcase}}">{{page.name}}</a>
           </li> 
          {% endfor %}
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
      {% for member in site.data.pi %}
        <div>
        {% if member.email %}<a href="mailto:{{ member.email }}" target="_blank"><i class="fa fa-envelope-square" style="font-size: 3em;"></i></a> {% endif %}
        {% if member.github %} <a href="{{ member.github }}" target="_blank"><i class="fa fa-github-square" style="font-size: 3em;"></i></a> {% endif %}
        {% if member.LinkedIn %} <a href="{{ member.LinkedIn }}" target="_blank"><i class="fa fa-linkedin-square" style="font-size: 3em;"></i></a> {% endif %}
        {% if member.orcid %} <a href="{{ member.orcid }}" target="_blank"><i class="ai ai-orcid-square" style="font-size: 3em;"></i></a> {% endif %}
        {% if member.ads %} <a href="{{ member.ads }}" target="_blank"><i class="ai ai-ads-square" style="font-size: 3em;"></i></a> {% endif %}
        {% if member.scholar %} <a href="{{ member.scholar }}" target="_blank"><i class="ai ai-google-scholar-square" style="font-size: 3em;"></i></a> {% endif %}
        </div>
      {% endfor %}
      </ul>
    </div>
</nav>

